* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

button.goback {
  position: absolute;
  height: 50px;
  width: 50px;
  background: #00000069;
  border-radius: 0 0 10px 0;
  border: 1px solid whitesmoke;
  color: white;
}

button.goback i {
  position: relative;
}

.movie-card {
  display: grid;
  grid-template-areas: "img text";
  grid-template-columns: 40% 60%;
  padding: 10px;
  margin: 10px;
  background: #ddd;
  border-radius: 3px;
}

img {
  width: 100%;
  grid-area: img;
  border-radius: 3px;
}

.text {
  grid-area: text;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text > * {
  margin: 0;
}
